*.iml
.gradle
.gitignored
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea
.DS_Store
/build
/captures
gradlew.bat
gradlew
gradle/
app/src/main/java/com
lib/src/main/java/sk
lib/src/main/java/com/lody/virtual/client/stub/DaemonService.java
lib/src/main/java/com/lody/virtual/client/hook/proxies/am/MethodProxies.java
lib/src/main/java/com/lody/virtual/client/VClientImpl.java
lib/src/main/java/com/lody/virtual/client/hook/proxies/am/HCallbackStub.java
lib/src/main/java/com/lody/virtual/client/hook/providers/ProviderHook.java
lib/src/main/jni/Foundation/VMPatch.cpp
lib/src/main/jni/Foundation/VMPatch.h
app/proguard-rules.pro
/release
*.apk
/lib/src/main/java/com/lody/virtual/client/hook/proxies/telephony/RegistryMethodProxies.java
/lib/src/main/jniLibs/arm64-v8a/
/lib/src/main/jniLibs/armeabi-v7a/
