/build
.externalNativeBuild/
obj/
src/main/jni/sk/
src/main/java/com/swift/
src/main/java/de/
libs/
src/main/jniLibs/arm64-v8a/libepic.so
src/main/jniLibs/armeabi/libdexposed.so
src/main/jniLibs/armeabi-v7a/libepic.so
.cxx/
/src/main/jniLibs/
